<h1>Pendorian Elite UI</h1>

<p>
    Created by
    <app-link path="/players/puls3">Puls3</app-link>
    , Pendorian Elite UI is a userscript that started as a re-theme script for Pendoria.<br>
    As time passed, Pendorian Elite UI included many new features that changed the core of the UI.
</p>

<p>
    It went through many versions, though by version 2.0 every feature was able to be toggled and customized.
</p>

<h2>
    Official Website
</h2>

<p>
    You can find the Pendorian Elite UI Official Website here;<br>
    - <a href="https://xpuls3.github.io/Pendorian-Elite-UI/" target="_blank">https://xpuls3.github.io/Pendorian-Elite-UI/</a>
</p>

<h2>Version History</h2>

<h3>
    Release v2.0
</h3>

<p>
    Version 2 of Pendorian Elite UI replaced the existing "if statement" code with objects containing data for each feature.
</p>

<p>
    The final release of Pendorian Elite UI version 1 & 2 can still be viewed today<br>
    - <a href="https://github.com/xPuls3/Pendorian-Elite-UI/blob/1.7.1/script.user.js" target="_blank">Legacy Release v1.7.1</a><br>
    - <a href="https://github.com/xPuls3/Pendorian-Elite-UI/blob/2.6/script.user.js" target="_blank">Legacy Release v2.6</a>
</p>

<p>
    If you view the script content you can see major changes done to the structure.
</p>

<h3>
    Release v3.0
</h3>

<p>
    Version 3.0 of Pendorian Elite UI, completely replaced the entire core of Pendorian Elite UI's development process.
</p>

<p>
    Instead of one large file written as one large file, it was split up into module files that were then imported into one single file for distribution.
    Due to the nature of other packing softwares, Puls3 had to write a completely brand new packer using NodeJS.
</p>

<p>
    To the end user, version 3 is extremely similar to version 2.
    However, if you view the GitHub repository, the source files have been completely changed.
</p>
