<h1>Puls3</h1>

<p>
    Puls3 registered and starting playing on day one of Pendoria's release.
</p>

<h2>Ethereal</h2>

<p>
    On June 12th of 2017, Puls3 created the guild named Ethereal.
    It would go on to rise through the rankings and be a premier guild for years to come.
</p>

<p>
    Around 2019 Ethereal managed to gain a top three spot, and by 2020 they were fighting to become number one.
</p>

<p>
    In 2022 Ethereal passed Scrapyard and became the number one tradeskill guild in the game.
</p>

<h2>Creations</h2>

<p>
    Puls3 created an official website for tracking market flippers,
    a few years later they also developed a userscript to highlight said market flippers when viewed on the market.
</p>

<p>
    Puls3 maintained a public web page with calculators for tradeskillers, as well as a ranking keeping track of the top twenty tradeskill and hybrid guilds.
    This service, named 'TS Master Race', would later be taken offline.
</p>

<p>
    Puls3 created a popular userscript known as
    <app-link path="/userscripts/pendorian-elite-ui">Pendorian Elite UI</app-link>
    .
</p>

<h2>Staff History</h2>

<p>
    After over a year of activity, Puls3 was invited to the moderation team.
    Once former developer
    <app-link path="/players/maria">Maria</app-link>
    resigned,
    Puls3 was then promoted to help work on Pendoria's development.
</p>
